@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.main-bg {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

body {
	overflow: hidden;
}

.semi-button-primary {
	background: linear-gradient(118deg, #ffe74d 0%, #ffdd1a 100%) !important;
	font-size: 14px !important;
	font-weight: normal !important;
	line-height: normal !important;
	color: black !important;
}

.semi-button-primary:hover {
	background: linear-gradient(118deg, #ffe74d 0%, #ffd600 100%) !important;
	color: black;
}

.semi-button-light {
	color: black !important;
	font-weight: normal !important;
}

@layer base {
	:root {
		--np-primary-card-background: #dbeafe; /* blue-100*/
		--np-primary-card-background-hover: #bfdbfe; /* blue-200*/
		--np-primary-card-border: #93c5fd; /* blue-300*/
		--np-primary-card-border-hover: #60a5fa; /* blue-400 */
		--np-primary-card-text: #1e3a8a; /* blue-900*/
		--np-primary-card-subtext: #1d4ed8; /* blue-700*/
		--np-primary-icon-background: #3b82f6; /* blue-500*/
		--np-primary-icon-shape: #dbeafe; /* blue-100*/

		--np-secondary-card-background: #ccfbf1; /* teal-100*/
		--np-secondary-card-background-hover: #99f6e4; /* teal-200*/
		--np-secondary-card-border: #5eead4; /* teal-300*/
		--np-secondary-card-border-hover: #2dd4bf; /* teal-400 */
		--np-secondary-card-text: #134e4a; /* teal-900*/
		--np-secondary-card-subtext: #0f766e; /* teal-700*/
		--np-secondary-icon-background: #14b8a6; /* teal-500*/
		--np-secondary-icon-shape: #ccfbf1; /* teal 100*/

		--background: 0 0% 100%; /* white */
		--background-brand: 32 100% 63%; /* lighter teal */
		--background-brand-secondary: 171 100% 77%; /* even lighter teal */
		--background-brand-tertiary: 223 100% 95%;
		--background-primary: 0 0% 100%; /* white */
		--background-secondary: 36 100% 98%; /* 极浅橙色 */
		--background-tertiary-light: 0 0% 98%; /* #F8F9FA - 比secondary更浅的颜色 */
		--background-positive: 147 100% 44%; /* green */
		--background-tertiary: 0 0% 90%; /* light gray */
		--background-toolbar-base: 0 0% 100%; /* white */
		--background-hover: 0 0% 95%; /* very light gray */
		--background-active: 0 0% 90%; /* light gray */
		--background-disabled: 0 0% 95%; /* very light gray */

		--foreground: black; /* black */
		--foreground-brand: 344 100% 66%; /* red */
		--foreground-brand-hover: 344 100% 56%; /* 深一点的红色用于悬浮 */
		--foreground-brand-secondary: 223 100% 45%;
		--foreground-primary: 0 0% 10%; /* black */
		--foreground-secondary: 0 0% 20%; /* dark gray */
		--foreground-tertiary: 0 0% 33%; /* medium gray */
		--foreground-quadranary: 0 0% 47%; /* gray */
		--foreground-positive: 147 100% 18%; /* dark green */
		--foreground-hover: 0 0% 12%; /* very dark gray */
		--foreground-active: 0 0% 10%; /* black */
		--foreground-disabled: 0 0% 90%; /* light gray */
		--foreground-hover-contrast: 0 0% 100%; /* white */

		--primary: 0 0% 10%; /* black */
		--primary-foreground: 0 0% 100%; /* white */

		--secondary: 0 0% 95%; /* very light gray */
		--secondary-foreground: 0 0% 10%; /* black */

		--destructive: 0 72% 51%; /* rgb(220, 38, 38) */
		--destructive-foreground: 0 0% 100%; /* white */

		--card: 0 0% 100%; /* white */
		--card-foreground: 0 0% 10%; /* black */

		--popover: 0 0% 100%; /* white */
		--popover-foreground: 0 0% 10%; /* black */

		--icon: 0 0% 33%; /* medium gray */
		--icon-hover: 0 0% 10%; /* black */
		--icon-active: 0 0% 10%; /* black */
		--icon-disabled: 0 0% 20%; /* dark gray */

		--border: 0 0% 90%; /* light gray */
		--border-active: 0 0% 67%; /* medium gray */
		--border-hover: 0 0% 57%; /* gray */
		--border-brand: 171 100% 67%;

		--muted: 0 0% 95%; /* very light gray */
		--muted-foreground: 0 0% 20%; /* dark gray */

		--accent: 0 0% 95%; /* very light gray */
		--accent-foreground: 0 0% 10%; /* black */

		--input: 0 0% 95%; /* very light gray */
		--ring: 0 0% 90%; /* light gray */

		--radius: 0.5rem; /* shadcn */
		/* 与 background-brand 相同色调 */
	}

	.dark {
		--np-primary-card-background: #172554; /* blue-950 */
		--np-primary-card-background-hover: #1e3a8a; /* blue-900*/
		--np-primary-card-border: #1e40af; /* blue-800*/
		--np-primary-card-border-hover: #2563eb; /* blue-600; */
		--np-primary-card-text: #dbeafe; /* blue-100*/
		--np-primary-card-subtext: #93c5fd; /* blue-300*/
		--np-primary-icon-background: #3b82f6; /* blue-500*/
		--np-primary-icon-shape: #dbeafe; /* blue 100*/

		--np-secondary-card-background: #042f2e; /* teal-950 */
		--np-secondary-card-background-hover: #155e75; /* teal-800*/
		--np-secondary-card-border: #155e75; /* teal-800*/
		--np-secondary-card-border-hover: #0891b2; /* teal-600; */
		--np-secondary-card-text: #ccfbf1; /* teal-100*/
		--np-secondary-card-subtext: #5eead4; /* teal-300*/
		--np-secondary-icon-background: #14b8a6; /* teal-500*/
		--np-secondary-icon-shape: #ccfbf1; /* teal 100*/

		--background: 20 14.3% 4.1%; /* shadcn */
		--background-brand: 171 100% 17%; /* teal[700] */
		--background-brand-secondary: 171 100% 27%; /* teal[500] */

		--background-primary: 0 0% 10%; /* gray[900] */
		--background-secondary: 0 0% 15%; /* 深色模式下更浅的灰色 */
		--background-tertiary-light: 0 0% 15%; /* #F8F9FA的暗色模式版本 */
		--background-positive: 0 0% 12%; /* green[800] */
		--background-tertiary: 0 0% 20%; /* gray[700] */
		--background-toolbar-base: 0 0% 0% 0.85; /* black[85] */
		--background-hover: 0 0% 12%; /* gray[800] */
		--background-active: 0 0% 20%; /* gray[700] */
		--background-disabled: 0 0% 10%; /* gray[900] */

		--foreground: 60 9.1% 97.8%; /* shadcn */

		--foreground-brand: 344 100% 66%; /* red[DEFAULT] */
		--foreground-brand-hover: 344 100% 76%; /* 暗色模式下亮一点的红色用于悬浮 */
		--foreground-primary: 0 0% 100%; /* gray[50] */
		--foreground-secondary: 0 0% 67%; /* gray[200] */
		--foreground-tertiary: 0 0% 57%; /* gray[300] */
		--foreground-quadranary: 0 0% 38%; /* gray[500] */
		--foreground-positive: 147 100% 44%; /* green[200] */
		--foreground-hover: 0 0% 78%; /* gray[100] */
		--foreground-active: 0 0% 100%; /* gray[50] */
		--foreground-disabled: 0 0% 10%; /* gray[900] */
		--foreground-hover-contrast: 0 0% 100%; /* white */

		--primary: 60 9.1% 97.8%; /* shadcn */
		--primary-foreground: 24 9.8% 10%; /* shadcn */

		--secondary: 12 6.5% 15.1%; /* shadcn */
		--secondary-foreground: 60 9.1% 97.8%; /* shadcn */

		--destructive: 345.35 100% 16.86%; /* red[900] */
		--destructive-foreground: 344.21 100% 96.27%; /* red[100] */

		--card: 20 14.3% 4.1%; /* shadcn */
		--card-foreground: 60 9.1% 97.8%; /* shadcn */

		--popover: 20 14.3% 4.1%; /* shadcn */
		--popover-foreground: 60 9.1% 97.8%; /* shadcn */

		--icon: 0 0% 57%; /* gray[300] */
		--icon-hover: 0 0% 100%; /* gray[50] */
		--icon-active: 0 0% 100%; /* gray[50] */
		--icon-disabled: 0 0% 67%; /* gray[200] */

		--border: 0 0% 12%; /* gray[800] */
		--border-active: 0 0% 47%; /* gray[400] */
		--border-hover: 0 0% 38%; /* gray[500] */
		--border-brand: 171 100% 17%; /* 与 dark 主题的 background-brand 相同色调 */

		--muted: 12 6.5% 15.1%; /* shadcn */
		--muted-foreground: 24 5.4% 63.9%; /* shadcn */

		--accent: 12 6.5% 15.1%; /* shadcn */
		--accent-foreground: 60 9.1% 97.8%; /* shadcn */

		--input: 12 6.5% 15.1%; /* shadcn */
		--ring: 24 5.7% 82.9%; /* shadcn */

		--selection-background: 344 100% 49% / 0.3; /* #FA003C with 0.3 opacity */
		--selection-text: 344 100% 49%; /* #FA003C */
		--caret: 344 100% 49%;
	}
	.blue {
		--np-primary-card-background: #dbeafe; /* blue-100 */
		--np-primary-card-background-hover: #bfdbfe; /* blue-200 */
		--np-primary-card-border: #93c5fd; /* blue-300 */
		--np-primary-card-border-hover: #386bff; /* 主蓝色 */
		--np-primary-card-text: #1e3a8a; /* blue-900 */
		--np-primary-card-subtext: #1d4ed8; /* blue-700 */
		--np-primary-icon-background: #386bff; /* 主蓝色 */
		--np-primary-icon-shape: #dbeafe; /* blue-100 */

		--np-secondary-card-background: #e0e7ff; /* indigo-100 */
		--np-secondary-card-background-hover: #c7d2fe; /* indigo-200 */
		--np-secondary-card-border: #a5b4fc; /* indigo-300 */
		--np-secondary-card-border-hover: #818cf8; /* indigo-400 */
		--np-secondary-card-text: #1e1b4b; /* indigo-900 */
		--np-secondary-card-subtext: #3730a3; /* indigo-700 */
		--np-secondary-icon-background: #6366f1; /* indigo-500 */
		--np-secondary-icon-shape: #e0e7ff; /* indigo-100 */

		/* 背景相关变量 */
		--background: 223 100% 100%; /* white with blue tint */
		--background-brand: 223 100% 61%; /* #386BFF */
		--background-brand-secondary: 223 100% 71%;
		--background-brand-tertiary: 223 100% 95%;

		--background-primary: 223 100% 100%;
		--background-secondary: 223 20% 98%; /* 蓝色主题极浅蓝 */
		--background-tertiary-light: 223 30% 98%; /* #F8F9FA的蓝色主题版本 */
		--background-positive: 147 100% 44%;
		--background-tertiary: 223 20% 90%;
		--background-toolbar-base: 223 100% 100%;
		--background-hover: 0 0% 0% / 0.04;
		--background-active: 223 20% 90%;
		--background-disabled: 223 20% 95%;

		/* 前景色相关变量 */
		--foreground: 223 100% 10%;
		--foreground-brand: 223 100% 61%; /* #386BFF */
		--foreground-brand-hover: 223 100% 51%; /* 深一点的蓝色用于悬浮 */
		--foreground-brand-secondary: 223 100% 40%; /* 深蓝色，较主色更深，增强对比 */

		--foreground-primary: 223 100% 10%;
		--foreground-secondary: 223 100% 20%;

		--foreground-tertiary: 223 100% 33%;
		--foreground-quadranary: 223 100% 47%;
		--foreground-positive: 147 100% 18%;
		--foreground-hover: 223 100% 12%;
		--foreground-active: 223 100% 10%;
		--foreground-disabled: 223 20% 90%;
		--foreground-hover-contrast: 0 0% 100%; /* white */

		/* 主次色相关变量 */
		--primary: 223 100% 61%; /* #386BFF */
		--primary-foreground: 223 100% 100%;

		--secondary: 223 20% 95%;
		--secondary-foreground: 223 100% 10%;

		/* 破坏性操作相关变量 */
		--destructive: 344 100% 66%;
		--destructive-foreground: 0 0% 100%;

		/* 卡片相关变量 */
		--card: 223 100% 100%;
		--card-foreground: 223 100% 10%;

		/* 弹出层相关变量 */
		--popover: 223 100% 100%;
		--popover-foreground: 223 100% 10%;

		/* 图标相关变量 */
		--icon: 223 100% 33%;
		--icon-hover: 223 100% 10%;
		--icon-active: 223 100% 10%;
		--icon-disabled: 223 100% 20%;

		/* 边框相关变量 */
		--border: 223 30% 90%;
		--border-active: 223 30% 67%;
		--border-hover: 223 30% 57%;
		--border-brand: 223 100% 61%; /* 与蓝色主题的主色 #386BFF 相同 */

		/* 静音相关变量 */
		--muted: 223 20% 95%;
		--muted-foreground: 223 100% 20%;

		/* 强调相关变量 */
		--accent: 223 90% 95%;
		--accent-foreground: 223 100% 10%;

		/* 输入相关变量 */
		--input: 223 20% 95%;
		--ring: 223 90% 90%;

		/* 选择和光标相关变量 */
		--selection-background: 223 100% 61% / 0.3; /* #386BFF with 0.3 opacity */
		--selection-text: 223 100% 61%; /* #386BFF */
		--caret: 223 100% 61%; /* #386BFF */

		/* 圆角 */
		--radius: 0.5rem;
	}
	.yellow {
		--np-primary-card-background: #fff1e6; /* 浅橙色 */
		--np-primary-card-background-hover: #ffe8d9; /* 较浅橙色 */
		--np-primary-card-border: #ffcca5; /* 中浅橙色 */
		--np-primary-card-border-hover: #ff8c38; /* 较深橙色 */
		--np-primary-card-text: #7d2200; /* 深棕色 */
		--np-primary-card-subtext: #c43c00; /* 深橙色 */
		--np-primary-icon-background: #ff6a00; /* 品牌主色 */
		--np-primary-icon-shape: #fff1e6; /* 浅橙色 */

		--np-secondary-card-background: #fef3c7; /* 浅黄色 */
		--np-secondary-card-background-hover: #fde68a; /* 中浅黄色 */
		--np-secondary-card-border: #fcd34d; /* 中黄色 */
		--np-secondary-card-border-hover: #fbbf24; /* 较深黄色 */
		--np-secondary-card-text: #78350f; /* 深棕色 */
		--np-secondary-card-subtext: #b45309; /* 中深棕色 */
		--np-secondary-icon-background: #f59e0b; /* 金黄色 */
		--np-secondary-icon-shape: #fef3c7; /* 浅黄色 */

		/* 背景相关变量 */
		--background: 0 0% 100%; /* white */
		--background-brand: 45 100% 50%; /* #FFE74D */
		--background-brand-secondary: 24 100% 60%; /* 较浅橙色 */
		--background-brand-tertiary: 24 100% 95%; /* 超浅橙色 */

		--background-primary: 0 0% 100%; /* white */
		--background-secondary: 0 0% 98%; /* 黄色主题极浅灰 */
		--background-tertiary-light: 0 0% 98%; /* 更浅的灰色 */
		--background-positive: 110 49% 47%; /* 保持绿色不变 */
		--background-tertiary: 0 0% 90%; /* 中浅灰色 */
		--background-toolbar-base: 0 0% 100%; /* white */
		--background-hover: 0 0% 95%; /* 浅灰色 */
		--background-active: 0 0% 90%; /* 中浅灰色 */
		--background-disabled: 0 0% 85%; /* 更深的灰色 */

		/* 前景色相关变量 */
		--foreground: 0 0% 0%; /* black */
		--foreground-brand: 24 100% 55%; /* 更鲜艳的橙色 #FF6A00 */
		--foreground-brand-hover: 24 100% 45%; /* 深一点的橙色用于悬浮 */
		--foreground-brand-secondary: 24 85% 45%; /* 更饱和的深橙色 */

		--foreground-primary: 0 0% 0%; /* 黑色 */
		--foreground-secondary: 0 0% 20%; /* 深灰色 */

		--foreground-tertiary: 0 0% 33%; /* 中性灰色 */
		--foreground-quadranary: 0 0% 47%; /* 中性灰色 */
		--foreground-positive: 147 100% 18%; /* 保持深绿色不变 */
		--foreground-hover: 0 0% 12%; /* 接近黑色的灰色 */

		--foreground-active: 0 0% 10%; /* 近黑色 */
		--foreground-disabled: 0 0% 40%; /* 中深灰色 */
		--foreground-hover-contrast: 0 0% 100%; /* 白色 */

		/* 主次色相关变量 */
		--primary: 24 100% 50%; /* #FF6A00 */
		--primary-foreground: 0 0% 100%; /* white */

		--secondary: 0 0% 95%; /* 浅灰色 */
		--secondary-foreground: 0 0% 10%; /* 近黑色 */

		/* 边框相关变量 */
		--border: 0 0% 90%; /* 浅灰色边框 */
		--border-active: 0 0% 67%; /* 中灰色边框 */
		--border-hover: 0 0% 57%; /* 较深灰色边框 */
		--border-brand: 24 100% 50%; /* #FF6A00 */

		/* 图标相关变量 */
		--icon: 0 0% 33%; /* 中灰色 */
		--icon-hover: 0 0% 10%; /* 近黑色 */
		--icon-active: 0 0% 10%; /* 近黑色 */
		--icon-disabled: 0 0% 45%; /* 中深灰色 */

		/* 静音相关变量 */
		--muted: 0 0% 95%; /* 浅灰色 */
		--muted-foreground: 0 0% 40%; /* 中灰色 */

		/* 强调相关变量 */
		--accent: 0 0% 95%; /* 浅灰色强调 */
		--accent-foreground: 0 0% 10%; /* 近黑色 */

		/* 输入相关变量 */
		--input: 0 0% 95%; /* 浅灰色 */
		--ring: 0 0% 90%; /* 浅灰色环 */

		/* 选择和光标相关变量 */
		--selection-background: 24 100% 50% / 0.3; /* #FF6A00 with 0.3 opacity */
		--selection-text: 24 100% 50%; /* #FF6A00 */
		--caret: 24 100% 50%; /* #FF6A00 */

		/* 其他变量保持不变 */
		--destructive: 0 72% 51%; /* rgb(220, 38, 38) */
		--destructive-foreground: 0 0% 100%; /* 白色 */
		--card: 0 0% 100%; /* white */
		--card-foreground: 0 0% 10%; /* 近黑色 */
		--popover: 0 0% 100%; /* white */
		--popover-foreground: 0 0% 10%; /* 近黑色 */
		--radius: 0.5rem;

		/* 状态相关变量 */
		--background-success: 110 49% 47%; /* 成功状态背景色 */
		--background-error: 0 72% 51%; /* 错误状态背景色 */
		--foreground-success: 110 49% 47%; /* 成功状态文字颜色 */
		--foreground-error: 0 72% 51%; /* 错误状态文字颜色 */
		--background-error-light: 0 72% 51% / 0.08; /* 错误状态浅色背景 */
		--background-success-light: 110 49% 47% / 0.08; /* 成功状态浅色背景 */
	}
}

@layer base {
	* {
		@apply border-border;
	}
	/* body {
        @apply bg-background text-foreground;
    } */
	::-webkit-scrollbar {
		@apply hidden;
	}
}

/* Semi Form Table Styles */
.semi-form-table .semi-table-row-cell .semi-form-field {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.semi-form-table
	.semi-table-row-cell
	.semi-form-field
	.semi-form-field-main
	.semi-form-field-error-message {
	position: inherit !important;
}

.semi-form-table .semi-table-thead > .semi-table-row > .semi-table-row-head {
	background-color: #f4f5f5;
}
